<div id="app">
    <h1>Markdown Editor Example</h1>

    <!-- Markdown Editor Example (https://vuejs.org/v2/examples/index.html) -->
    <!--      <script src="https://unpkg.com/marked@0.3.6"></script>-->
    <!--      <script src="https://unpkg.com/lodash@4.16.0"></script>-->

    <div id="editor">
        <!--<textarea :value="input" @input="update"></textarea>-->
        <oj-text-area value="[[editorInput]]"
                      on-raw-value-changed="[[onEditorRawInputChanged]]">
        </oj-text-area>

        <!--<div v-html="compiledMarkdown"></div>-->
        <div id="compiledMarkdown" data-bind="html: compiledMarkdown"></div>
    </div>
    <!-- End of Example -->
</div>
