#demo-tree {
    font-family: Menlo, Consolas, monospace;
    color: #444;
}
#demo-tree .item {
    cursor: pointer;
}
#demo-tree .bold {
    font-weight: bold;
}
#demo-tree ul {
    padding-left: 1em;
    line-height: 1.5em;
    list-style-type: dot;
}
